@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Questrial&family=Roboto:wght@400;700&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

body {
  background-color: #161921;
}

#detailsContainer,
#nameScreen,
#nameScreen label,
#nameScreen input {
  font-family: "Roboto";
}

#introScreenDesktop h1 {
  font-family: "Playfair Display";
  font-size: 2rem;
  line-height: 2.3rem;
  padding-bottom: 6px;
}

#introHostName {
  font-family: "Questrial";
  margin: 2rem 4rem 0 1.5rem;
}

#introTitle {
  font-family: "Playfair Display";
  font-weight: 700;
  margin: 0 6rem 0 1.5rem;
  font-size: 2.2rem;
  line-height: 1.2;
}

#recordButton {
  width: 80%;
  background-color: #f8b300;
  color: #000000;
  font-family: "Questrial";
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 24px;
  margin-bottom: 16px;
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px black;
}

#uploadLink {
  color: white;
  font-family: "Questrial";
  font-weight: 300;
  font-size: 12px;
}

#uploadLink span {
  color: white;
  text-decoration: none;
}

#introTerms {
  text-align: center;
  font-family: "Questrial";
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  width: 80%;
  margin: 18px auto 6px auto;
}

#introTerms a {
  color: white;
  text-decoration: none;
}

#buttonsContainer button {
  width: 80%;
  background-color: #f8b300;
  color: #000000;
  font-family: "Questrial";
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 24px;
  margin-bottom: 6px;
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px black;
}

#buttonsContainer button.buttonSkip {
  background-color: transparent;
}

#nameScreen {
  background-color: #161921;
  margin-top: 140px;
  border-radius: 24px 24px 0 0;
  background-color: rgba(22, 25, 33, 0.85);
}

#nameScreen h1,
#nameScreen label,
#nameScreen p {
  color: white;
}

#nameScreen h1 {
  font-family: "Playfair Display";
  font-family: "Roboto";
}

#nameScreen label {
  font-family: "Questrial";
  color: white;
  font-weight: 300;
  font-size: 14px;
}

#nameScreen p {
  font-family: "Roboto";
  color: white;
  font-weight: 400;
  font-size: 14px;
}

#successScreen {
  background-color: #161921;
}

#successMessage {
  background-color: #32363f;
  border-radius: 12px;
  width: 96%;
}

#successScreen p {
  color: white;
  text-align: center;
  font-family: "Questrial";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  width: 95%;
  margin: 18px auto 24px auto;
}

#successScreen a {
  color: #f8b300;
  text-decoration: underline;
}

#successScreen h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

#successScreen .hostname {
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px white;
}

#downloadButton {
  width: 80%;
  background-color: #f8b300;
  color: #000000;
  font-family: "Questrial";
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 24px;
  margin-bottom: 6px;
  letter-spacing: 0.05rem;
  -webkit-text-stroke: 0.65px black;
}
